body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.wall-to-wall {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  background:#333;
  > h1 {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  > button,
  > a {
    cursor: pointer;
    font-size: 1.5em;
    min-width: 7em;
    text-align: center;
    padding:1em;
    border-radius:2em;
    background:white;
    color: #333;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}